.built
.built_check
.configured_
.dep_files
.git_update
.prepared_*
ipkg-*
*.o
tags
ieee1905d
.configured_*
.pkgdir
*.html
*.gcda
*.gcov
*.gcno
*.log
*.so
*.xml
src/xcp
.DS_Store
src/extensions/***/mapclient*
